.posterImage{
    height: 600px;
}
.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}
.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
   
} 